* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

:root {
    --font-lato: 'Lato', sans-serif;
    --font-game: 'Odibee Sans', cursive;
    --font-arcade: 'Press Start 2P', cursive;
}

h1 {
    font-family: var(--font-game);
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
            #231557 0%,
            #44107a 29%,
            #ff1361 67%,
            #fff800 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

.play {
    width: 85px;
    height: 40px;
    border-radius: 35px;
    padding: 0 0.5rem;
    transition: all 0.5s;
    border-color: #001533;
    font-size: 1.2rem;
    font-family: var(--font-game);
}

.play:active {
    scale: 1.2;
}

label i {
    color: #001533;
}

.color_boolean {
    color: #001533;
}

.img-fluid {
    vertical-align: middle;
}

select {
    width: 150px;
    height: 40px;
    font-size: 1.2rem;
}

option {
    height: 30px;
}

select,
option {
    font-family: var(--font-game);
}

select:hover,
option:hover,
i:hover {
    cursor: pointer;
}

#app_main {
    background-color: #80ffd5;
    box-shadow: 0 0 5px 0 inset black;
    height: 500px;
}

.lookas {
    text-decoration: none;
    color: #001533;
    transition: all 0.5s;
}

.lookas:hover {
    scale: 1.1;
}